@import "src/styles/variables.scss";

.admin-inventory-page-main {
  border: $test1;
  padding: 20px 20px;
  min-height: 78vh;
  height: 100%;
  width: 90%;
  margin:auto;

  .admin-title {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.admin-inventory-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.search-barcode-set-qty {
  border: $test;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  .search-barcode-form {
    border: $test3;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
  
    .barcode-input {
      margin-right: 2em;
      margin-bottom: 1em;
    }
    .btn-inventory-search {
      margin-right: 0.5em;
    }
  }

  .set-qty-form {
    border: $test1;
    width: 50%;
    // padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .set-qty {
    border: $test3;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-right: 1em;
  }

  .btn-add-qty {
    margin-top: 1em;
    padding: 0.5em 1em;
    width: 100%;
  }
}


// ----------------------------------------

.inventory-section {
  width: 100%;

  th {
    font-size: 1.3em;
  }

  .select {
    background-color: navy;
    color: white;
  }

  .barcode-cell {
    font-size: 1.2em;
  }
  .size-cell {
    font-size: 1.2em;
  }
  .item-cell {
    display: flex;
    justify-content: center;
    align-items: center;

    .details {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0.5em;

      .sku {
        font-size: 0.8em;
        margin-bottom: 0.5em;
      }
    }

  }
}

@media only screen and (max-width: 960px) {

  .admin-inventory-page-main {
    width: 100%;
    
    .admin-title {
      font-size: 1em;
      font-weight: 600;
    }

    .search-barcode-set-qty {
    
      .set-qty {
        width: 100%;
      }
  
      .search-barcode-form {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      
        .barcode-input {
          margin-right: 2em;
          margin-bottom: 1em;
        }
  
        .btn-add-qty {
          margin-top: 1em;
          font-size: 0.8em;
          padding: 0.5em 0.5em;
          width: 70%;
        }
        .btn-inventory-search, .btn-inventory-reset {
          font-size: 0.8em;
          padding: 0.5em 0.5em;
        }

      }
    }
  }
}

@media only screen and (max-width: 500px) {

  .admin-inventory-page-main {
    th {
      font-size: 1em;
    }
    
    .admin-title {
      font-size: 0.7em;
      font-weight: 600;
    }

    .search-barcode-set-qty {
      flex-direction: column;
    
      .set-qty-form {
        width: 100%;
        justify-content: flex-start;
        padding-left: 1em;
      }

      .set-qty {
        justify-content: flex-start;
      }
  
      .search-barcode-form {
        width: 100%;
  
        
        .btn-inventory-search, .btn-inventory-reset {
          font-size: 0.8em;
          padding: 0.5em 0.5em;
        }
      }
      .btn-add-qty {
        margin-top: 1em;
        font-size: 0.8em;
        padding: 0.5em 0.5em;
        width: 50%;
      }
    }
  }
}